.promo {
  margin: 0;
  padding: 0;
  max-width: 1280px;
  min-height: 524px;
  box-sizing: border-box;
  background-color: #073042;
  background-image: url('../../images/landing-logo.svg');
  background-repeat: no-repeat;
  background-position: center 82px;
  background-size: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 184px;
}

.promo__title {
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
}

@media (max-width: 991px) {

  .promo {
    max-width: 100vw;
    min-height: 784px;
    background-position: center 224px;
    padding-top: 326px;
  }
}

@media (max-width: 575px) {

  .promo {
    min-height: 570px;
    background-size: 248px;
    background-position: center 142px;
    padding-top: 207px;
  }
  
  .promo__title {
    max-width: 300px;
  }
}