.main__title {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.main__subtitle {
  margin: 0;
  padding: 0;
  max-width: 1140px;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
  text-align: left;
  color: #FFF;
  font-family: Inter;
  font-size: 22px;  
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.main__text {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 991px) {

  .main__subtitle {
    max-width: 100vw;
  }

  .main__text {
    font-size: 12px;
  }

}

@media (max-width: 575px) {

  .main__title {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }

  .main__subtitle {
    font-size: 18px;
    letter-spacing: -0.72;
    padding-bottom: 28px;
  }

  .main__text {
    font-size: 11px;
  }
  
}