.subtitle {
  margin: 0;
  padding: 0;
  max-width: 1140px;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
  text-align: left;
  color: #FFF;
  font-family: 'Inter','Arial', sans-serif;
  font-size: 22px;  
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

@media (max-width: 575px) {
  .subtitle {
    max-width: 100vw;
    font-size: 18px;
    padding-bottom: 27px;
    letter-spacing: -0.72px;
  }
}