.not-found {
  max-width: 1280px;
  background-color: #202020;
  padding-top: 246px;
}

.not-found__title {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
}

.not-found__text {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.not-found__button {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  color: #4285F4;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-top: 184px;
  margin-bottom: 60px;
  transition: ease .4s;
}

.not-found__button:hover {
  opacity: 0.7;
}

@media (max-width: 991px) {
  .not-found {
    max-width: 100vw;
    padding-top: 408px;
  }

  .not-found__text {
    margin-top: 3px;
  }

  .not-found__button {
    margin-bottom: 222px;
  }
}

@media (max-width: 575px) {
  .not-found {
    padding-top: 329px;
  }

  .not-found__title {
    font-size: 80px;
  }

  .not-found__text {
    font-size: 12px;
    margin-top: 10px;
  }

  .not-found__button {
    font-size: 12px;
    margin-top: 284px;
    margin-bottom: 30px;
  }
}